/* LOADER... */
.loader {
  width:100%;
  height:100%;
  background:url(../img/loader.gif) center center no-repeat;
}
/*END LOADER...*/

hr.hdivider {
  height: 1px;
  background-color: #808080;
}

::-webkit-input-placeholder {
 color: #90999c!important;
}

:-moz-placeholder { /* Firefox 18- */
 color: #90999c!important;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #90999c!important;
}

:-ms-input-placeholder {
 color: #90999c!important;
}

/* Content */
.main-container {
  height: calc(100% - 62px);
  width: calc(100% - 15px);
  position: fixed;
  top: 102px; /*70*/
  overflow: scroll;
}

.menu-container {
  height: 2000px;
}


/* Botones */
.btn-default {
  color: #337ab7;
  background-color: #fff;
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.btn-default.active:hover,
.btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus
{
color: #fff;
background-color: #286090;
border-color: #204d74;
}

#sdg_metrica .btn-default{
float: left;
margin-bottom: 5px;
margin-left: 0px;
margin-right: 5px;
font-size:12px !important;
padding: 3px 4px !important;
}

#sdg_metrica>span{
font-size:15px;
font-style:bold;
color:rgb(128, 128, 128);
font-weight:700;
}

/* Header */
.navbar {
  border: none;
  background: #FFF;
  padding: 0px;
  height: 70px;
  margin: 0px;
  z-index: 999;
  border-radius: 0px;
  border: none;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.4);
}

/*.navbar-inner {
  background: #376984;
}*/

.page-header-fixed .navbar {
  position: fixed;
  right: 0;
  left: 0;
}

/*.topmenu-outer {
  height: 70px;
}*/

/* Top Menu */
.navbar-nav.navbar-right {
  margin-right: 0;
}

.top-menu .navbar-nav > li {
  /*height: 70px;*/
}

.top-menu .navbar-nav > li > a {
  /*display: block;*/
  padding: 0 18px;
  /*border: none;*/
  /*position: relative;*/
  /*color: #fff;*/
}

.top-menu .nav > li > a:hover,
.top-menu .nav > li > a:focus,
.top-menu .nav > li > a:active,
.top-menu .nav .open > a,
.top-menu .nav .open > a:hover,
.top-menu .nav .open > a:focus {
  background: transparent;
}

.top-menu .nav .open > a,
.top-menu .nav .open > a:hover,
.top-menu .nav .open > a:focus {
  background: transparent;
}

.top-menu .navbar-nav > li > a > i {
  font-size: 16.5px;
  line-height: 70px;
}

.navbar-right {
  margin-right: 0px !important;
}

.fa-angle-down {
  padding-left: 5px;
}

/* Dropdowns */
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  list-style: none;
  text-shadow: none;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  background-color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #E2E2E2;
  -webkit-border-radius: 5px!important;
  -moz-border-radius: 5px!important;
  -ms-border-radius: 5px!important;
  -o-border-radius: 5px!important;
  border-radius: 5px!important;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  font-size: 13px;
}

.dropdown-menu li:hover {
  background: #f7f7f7;
}

.dropdown-menu li:active {
  background: #E5F5FC;
}

.dropdown-menu li:hover {
  background: #f7f7f7;
  text-decoration: underline !important;
}

.dropdown-menu li:active {
  background: #E5F5FC;
  text-decoration: none !important;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 25px!important;
}

.dropdown-menu:before {
  position: absolute;
  top: -8px;
  left: 9px;
  right: auto;
  display: inline-block !important;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #E2E2E2;
  border-left: 8px solid transparent;
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: 10px;
  right: auto;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}

.dropdown.dropup > .dropdown-menu:after,
.dropdown.dropup > .dropdown-menu:before,
.btn-group.dropup > .dropdown-menu:after,
.btn-group.dropup > .dropdown-menu:before,
.dropdown-toggle.dropup > .dropdown-menu:after,
.dropdown-toggle.dropup > .dropdown-menu:before {
  display: none !important;
}

.navbar-left .dropdown-menu:before,
.dropdown-menu.dropdown-menu-left:before {
  left: 16px;
  right: auto;
}

.navbar-left .dropdown-menu:after,
.dropdown-menu.dropdown-menu-left:after {
  left: 17px;
  right: auto;
}

.top-menu .navbar-left {
  width: 40%;
}

.top-menu .navbar-right {
  width: 60%;
}

/*@media (max-width: 1700px) {
  .top-menu .navbar-left {
      width: 55%;
  }

  .top-menu .navbar-right {
      width: 45%;
  }
}*/

.navbar-right .dropdown-menu:before,
.dropdown-menu.dropdown-menu-right:before {
  right: 16px;
  left: auto;
}

.navbar-right .dropdown-menu:after,
.dropdown-menu.dropdown-menu-right:after {
  right: 17px;
  left: auto;
}

.dropdown-menu.title-caret:after {
  border-bottom: 7px solid #fff;
}

.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:focus,
.dropdown-menu > li.active > a:active,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:focus {
  background: #F7F7F7;
  color: #333;
}

.dropdown-menu li {
  padding: 7px 10px 7px 10px;
  color: #333333;
  font-size: 13px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  font-weight: normal;
}

.dropdown-menu li i {
  margin-right: 10px;
}

.dropdown-menu li.no-link {
  padding: 7px 10px 7px 10px;
}

.dropdown-menu li.li-group {
  border-bottom: 1px solid #f1f1f1;
  padding: 5px 0px 5px 0px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: transparent;
}

.navbar .dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  margin-top: 40px!important;
}

.navbar .open .dropdown-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 20px!important;
}

.navbar .dropdown {
  display: inline-block;
}

/* Page Content */
.page-content {
 /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);*/
  background: #fff;
  min-height: 100%;
}

/* Sidebar */
.sidebar {
  background: #1c82a8;
}
.page-sidebar {
  width: 225px;
  display: block;
  z-index: 998;
  float: left;
  height: auto !important;
  overflow: visible !important;
}
.sidebar .sidebar-title {
  display: block;
  margin: 0 0 10px 0;
}
.page-sidebar-fixed {
  overflow: hidden !important;
}
.page-inner{
  overflow: hidden !important;
}
.page-header-fixed .page-sidebar {
  padding-top: 50px;
}
.page-sidebar-fixed .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 70px;
}
.page-sidebar-fixed .page-sidebar-inner {
  height: 100%;
}
.page-sidebar .page-sidebar-inner {
  height: 100%!important;
  padding-top: 10px;
}
.small-sidebar .page-sidebar {
  width: 65px;
}
.small-sidebar .page-sidebar-inner {
  overflow: visible!important;
}

/* Menu */
.menu {
  background: #1c82a8;
}
.menu.accordion-menu {
  padding: 0px;
  margin: 0px;
  width: 225px;
  color: #fff;
  position: relative;
  display: block;
}
.menu.accordion-menu a {
  display: block;
  padding: 16px;
  padding-left: 22px;
  padding-right: 22px;
  background: transparent;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}
.menu.accordion-menu > li > a {
  text-align: center;
  position: relative;
}
body:not(.small-sidebar) .menu.accordion-menu a {
  text-align: center;
}
.menu.accordion-menu a p {
  line-height: 1.42857143!important;
  margin: 0;
}
.menu.accordion-menu a span.menu-icon {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
}
.menu.accordion-menu > li > a:hover {
  background: #1c82a8;
  border-radius: 0;
}
.menu.accordion-menu > li.active > a,
.menu.accordion-menu > li.active.open > a {
  background: #1c82a8;
  border-radius: 0;
}

.menu.accordion-menu li > a > .arrow:before {
  width: 10px;
  float: right;
  display: block;
  margin-top: -20px;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f104";
  font-weight: 300;
}
.menu.accordion-menu > li > a > .arrow:before {
  margin-top: -39px;
}
.menu.accordion-menu li.open > a > .arrow:before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu.accordion-menu li {
  list-style-type: none;
}

.compact-menu {
  overflow: hidden;
}
body.hover-menu .menu.accordion-menu li.active a:after {
  display: none;
}
.menu.accordion-menu ul {
  z-index: 9999;
}
.menu.accordion-menu ul li a {
  display: block;
  padding: 9px 19px 9px 19px;
  background: transparent;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
}

.menu.accordion-menu ul li p {
  font-size: 13px;
}
.menu.accordion-menu ul li ul {
  padding: 2px 0 2px 0;
}
.menu.accordion-menu ul.sub-menu li {
  margin-top: 1px;
  border: none;
}
.compact-menu .menu.accordion-menu > li > ul > li a,
.compact-menu.small-sidebar.page-sidebar-fixed .menu.accordion-menu > li > ul > li a {
  margin-left: 25px;
}
.compact-menu.small-sidebar:not(.page-sidebar-fixed) .menu.accordion-menu > li > ul > li a {
  margin-left: 0px;
}
.compact-menu .menu.accordion-menu .sub-menu li .sub-menu li a,
.hover-menu .menu.accordion-menu .sub-menu li .sub-menu li a {
  padding-left: 26px;
}
.compact-menu .menu.accordion-menu .sub-menu li .sub-menu li .sub-menu li a,
.hover-menu .menu.accordion-menu .sub-menu li .sub-menu li .sub-menu li a {
  padding-left: 31px;
}
.compact-menu .menu.accordion-menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li a,
.hover-menu .menu.accordion-menu .sub-menu li .sub-menu li .sub-menu li .sub-menu li a {
  padding-left: 36px;
}
.menu ul {
  padding: 7px 0 8px 0;
  z-index: 99;
}
.compact-menu:not(.small-sidebar) .menu.accordion-menu li a {
  text-align: left!important;
}
.compact-menu:not(.page-horizontal-bar) .menu.accordion-menu > li > a > p {
  display: inline!important;
}
.compact-menu .menu.accordion-menu a span.menu-icon {
  display: inline-block!important;
  font-size: 14px!important;
  margin-bottom: 0!important;
  margin-right: 10px!important;
}
.compact-menu .menu.accordion-menu li a .arrow:before {
  margin-top: -2px;
}
.small-sidebar .menu.accordion-menu ul {
  background: #1c82a8;
}
.hover-menu:not(.page-horizontal-bar) .menu.accordion-menu > li > a > span.arrow {
  display: none;
}
.hover-menu .menu.accordion-menu > li:hover > ul,
.hover-menu .menu.accordion-menu > li.open:hover > ul {
  display: inline-block!important;
}
.hover-menu .accordion-menu li {
  position: relative;
}
.hover-menu .accordion-menu > li > ul {
  position: absolute;
  left: 215px;
  width: 200px;
}
.hover-menu:not(.page-horizontal-bar) .accordion-menu > li > ul {
  background: #1c82a8;
  position: absolute;
  top: 0;
  left: 215px;
  width: 200px;
  margin-left: 4px;
}
.hover-menu .sidebar,
.hover-menu .sidebar .page-sidebar-inner,
.hover-menu .sidebar .menu,
.hover-menu .sidebar .slimScrollDiv {
  overflow: visible!important;
}
.hover-menu .accordion-menu ul li a {
  text-align: left!important;
}
.compact-menu .accordion-menu li a p {
  display: inline;
}
.hover-menu .sidebar .slimScrollBar,
.hover-menu .slimScrollBar {
  display: none!important;
}

/* Small Menu */
.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .sidebar,
.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu {
  width: 65px;
}

.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .page-sidebar-inner {
  overflow: hidden!important;
}

.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu li a p,
.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu li a .arrow,
.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu li.menu-title {
  display: none!important;
}

.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu li a p {
  margin: 0;
}

.small-sidebar.page-sidebar-fixed:not(.page-horizontal-bar) .menu.accordion-menu li.open .sub-menu {
  visibility: hidden;
  height: 0!important;
  padding: 0;
}
.small-sidebar.page-sidebar-fixed:not(.compact-menu) .menu.accordion-menu ul {
  background: #1c82a8;
  text-align: center;
}

.small-sidebar:not(.page-sidebar-fixed) .sidebar,
.small-sidebar:not(.page-sidebar-fixed) .sidebar > * {
  overflow: visible!important;
}

.small-sidebar:not(.page-sidebar-fixed) .sidebar .slimScrollBar {
  display: none!important;
}

.small-sidebar:not(.page-sidebar-fixed) .menu.accordion-menu {
  width: auto;
  oveflow: visible!important;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu,
.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li {
  padding:0;
  margin:0;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li {
  list-style: none;
  position: relative;
  width: auto;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li a {
  text-decoration: none;
  display: block;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li > a {
  padding: 16px 25px 16px 25px;
  text-align: center;
  position: relative;
  width: 265px;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li a span.menu-icon {
  font-size: 14px;
  margin: 0 50px 0 0!important;
  float: left;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li a p {
  margin: 0;
  float: left;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li a .arrow:before {
  width: 10px;
  float: right;
  margin-left: 15px;
  margin-top: -2px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: 18px;
  content: "\f104";
  font-weight: 300;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li:hover > a {
  z-index: 999;
  background: #1c82a8;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li > ul {
  position: absolute;
  top: 52px;
  left: 70px;
  width: 195px;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu ul li span.menu-icon {
  margin-right: 15px;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li > a > span.arrow {
  display: none;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li a p {
  display: block;
  text-align: left;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.menu-title {
  display: none;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li:hover > ul,
.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li.open:hover > ul {
  display: inline-block!important;
}

.small-sidebar:not(.page-sidebar-fixed) .accordion-menu > li.open > ul {
  display: none!important;
}

/* Page Inner */
.page-inner {
  padding: 0;
  background: #F5F5F5;
  position: relative;
}

.page-header-fixed:not(.page-sidebar-fixed):not(.page-horizontal-bar) .page-inner {
  padding: 50px 0 0 0;
}

.page-sidebar-fixed.page-header-fixed .page-inner {
  padding: 50px 0 0 215px;
}

.page-sidebar-fixed:not(.page-header-fixed) .page-inner {
  padding: 0px 0 0 215px;
}

.small-sidebar.page-sidebar-fixed.page-header-fixed .page-inner {
  padding: 50px 0 0 65px;
}

.small-sidebar.page-sidebar-fixed:not(.page-header-fixed) .page-inner {
  padding: 0 0 0 55px;
}

/* Main Wrapper */
#main-wrapper {
  margin: 15px 10px 10px 10px;
  padding: 0px;
}

/* Sidebar Pusher */
.sidebar-pusher {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  display: none;
  text-decoration: none;
}

.sidebar-pusher:focus {
  color: #fff;
}

/* Transitions */
.menu li a .arrow:before,
.menu li.open > a > .arrow:before {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media (min-width: 768px) {
  .page-content.container .navbar {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .page-content.container .navbar {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .page-content.container .navbar {
      width: 1170px;
  }
}

/*@media (max-width: 991px) {
  .btn {
      margin-bottom: 10px;
  }
}*/

@media (max-width: 767px) {
  .sidebar {
      opacity: 0;
      visibility: hidden;
      display: none;
      width: 0;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
  }

  body:not(.small-sidebar) .sidebar.visible {
      margin-right: -215px;
      opacity: 1;
      visibility: visible;
      display: block;
      width: 215px;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
  }

  .small-sidebar .sidebar/ {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
  }

  .sidebar-pusher {
      display: block;
  }

  .topmenu-outer,
  .small-sidebar .topmenu-outer,
  .page-sidebar-fixed:not(.page-header-fixed) .topmenu-outer {
      margin: 0;
  }

  .top-menu {
      display: none;
  }

  .page-inner {
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
  }

  .page-inner.sidebar-visible {
      -webkit-transform: translate3d(215px, 0, 0);
      transform: translate3d(215px, 0, 0);
  }

  .small-sidebar .page-inner.sidebar-visible {
      -webkit-transform: translate3d(65px, 0, 0);
      transform: translate3d(65px, 0, 0);
  }

  .page-sidebar-fixed.page-header-fixed .page-inner {
      padding: 50px 0 50px 0!important;
  }

  body:not(.page-header-fixed) .page-inner {
      padding: 0 0 50px 0;
  }

  .page-sidebar-fixed .page-inner {
      padding-left: 0!important;
  }
}

.x_panel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 17px;
  margin-bottom: 30px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
}
.x_panel_maximize {
  z-index: 890;
  margin: 0;
  position: fixed;
  top: 160px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: #fff;
  width: 100%;
  margin-top: 30px;
  border: none !important;
}
.x_invisible {
  background: transparent;
  border: none;
}
.x_title {
  border-bottom: 1px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px
}
.x_title .filter {
  width: 40%;
  float: right
}
.x_title h2 {
  width: 100%;
  font-size: 13px;
  letter-spacing: normal;
  font-weight: 600;
  margin: 10px 0 10px 0;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small {
  margin-left: 10px
}
.x_title span {
  color: #BDBDBD
}
.x_title .title-single {
  width: calc(90% - 25px);
}
.x_title .title-dual {
  width: calc(100% - 45px);
}
.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px
}
.x_content h4 {
  font-size: 16px;
  font-weight: 500
}

.panel_toolbox {
  float: right;
}
.panel_toolbox>li {
  float: left;
  cursor: pointer
}
.panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px
}
.panel_toolbox>li>a:hover {
  background: #F5F7FA
}

/* FILTERS */

.filter-button .qv-collapsed-listbox .qv-state-count-bar {
  border: none;
  display: none;
}

.filter-button .qv-collapsed-listbox {
  border: transparent;
  border-radius: .28571429rem;
  padding: 0;
}

.filter-button .qv-collapsed-listbox .title-wrapper .title {
  font-family: Arial,sans-serif;
  font-style: normal;
  line-height: 16px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.filter-button .title-wrapper:after {
  content: '\25BC';
  font-size: 10px;
  width: initial;
  float: right;
  font-size: 6px;
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  z-index: 100;
  color: #fff;
}

.filter-button header.qv-object-header {
  display: none;
}

.filter-button .qv-collapsed-listbox {
  height: 24px;

  background-color: #1c82a8;
  border: 1px solid #fff;
}

.qv-object * {
  font-family: Arial,sans-serif;
}

.qui-immidiateContextual .content {
  border-left: none;
  border-right: none;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15)!important;
  border-color: rgba(0, 0, 0, 0);
}

.qv-listbox-popover {
  z-index: 9999;
  width: 200px !important;
  position: fixed;
  margin-left: -37px;
}

.qv-listbox-popover .qv-listbox li {
  padding-left: 10px;
  border-bottom: 1px solid #C8D2DD;
  height: 33px;
  line-height: 33px;
}

.qv-listbox-popover .qv-listbox li .qv-listbox-tick {
  width: 16px;
  display: inline-block;
  text-align: center;
  float: right;
  margin-right: 10px;
  color: #fff;
}

.qv-listbox-popover .qv-listbox li .qv-listbox-tick i::before{
  color: #FFF !important;
  position: relative;
  top: -1px;
}

.qv-listbox-popover .qv-listbox li.selected, .qv-listbox .serverSelected, .qv-listbox .serverLocked {
  color: #fff;
  border-bottom: 1px solid #F6F6F6;
  background: #FFFFFF;

}

.qv-listbox li.serverExcluded, .qv-listbox li.serverExcludedLock, .qv-listbox li.serverSelectedExcluded{
  background: #C8D2DD !important;
  border-bottom: 1px solid #F6F6F6 !important;
  color: #333333;
}

/* .qv-listbox li.serverAlternative {
  background-color: #fff;
} */

.qv-listbox-popover .scroll-affordance.vertical.min, .qv-listbox-popover .scroll-affordance.vertical.max {
  background: none;
}

.qv-listbox-popover .lui-search .lui-search__search-icon {
  font-size: 12px;
}

.qv-listbox-popover .lui-search, .qv-listbox-popover .lui-search .lui-search__input {
  height: 28px;
  font-size: 13px;
  color: #89949E;
  font-family: openSans !important;
  font-style: italic;
}

.qv-listbox-popover .lui-search{
  height: 38px;
  background-color: #FFF;
  border-bottom: 1px solid #C8D2DD;
}

.qv-listbox-popover .lui-search:active{
  background-color: #FFFFFF;
  border: 1px solid #007EAE;
  font-style: initial;
}

.qv-listbox-popover .lui-search.search-focused{
  box-shadow: none !important;
  background-color: #FFFFFF;
  border: 1px solid #007EAE;
  font-style: initial;
}

.qv-listbox-popover .lui-search.search-focused .lui-search__input{
  font-style: initial;
  color:#333333;
}

.qv-listbox-popover .lui-search.search-focused .lui-icon--close{
  color:#68777D;
}


.qv-listbox-popover .lui-search .lui-search__search-icon {
  line-height: 28px;
  color: #68777D !important;
}

.qv-listbox-popover .qv-listbox-text {
  text-align: right!important;
  margin-right: 5px;
}

.qv-listbox li {
  line-height: 28px;
  font-size: 13px;
}

.lui-search .lui-search__clear-icon {
  line-height: 28px;
}

.filter-button-group {
  padding: 6px 0 0 0;
}

.filters-wrapper {
  height: 250px;
}

.filter-button-clear {
  display: inline-block !important;
  height: 25px;
  margin: 0 0 0 3px !important;
}

.filter-button-grouped-four-single {
width: 45px !important;
}

.filter-button-grouped-three-single {
width: 60px !important;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.qui-immidiateContextual .immidiate-contextual-arrow {
  background-image: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  margin-left: -20px;
}

/* Filters header visibility */
.qv-object-listbox.qv-object-wrapper > .qv-object-listbox > .qv-inner-object > .qv-object-header {
  display: flex;
}

.qv-global-search-input.qv-search-input {
  font-family: Arial, sans-serif;
  z-index: 2;
  margin-top: 0px;
}

.page-sidebar {
  z-index: 1;
}

/* .qv-global-selections {
 font-family: Arial, sans-serif;
 z-index: 2;

  height: calc(100% - 103px) !important;

  margin-top: 64px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: scroll;
}*/


.qv-global-search-glass {
  height: auto !important;
}

/* QlikSense v3.2 */
.qv-global-search .qv-global-search-dimmer {
  height: auto !important;
}

.filterLabel {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 5px !important;
  text-overflow: ellipsis;
  /*width: calc(100% - 20px); */
  width: 110px;
  display: inline-block !important;
  cursor: default;
}

.filterValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 139px;
  display: inline-block !important;
  padding-left: 15px;
  cursor: default;
}

.flip-panel {
  height: 100%;
}

/* Current Selections */
.treeView, .treeView ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.treeView ul {
  margin-left: 1em;
  position: relative;
}
.treeView ul ul {
  margin-left: .5em;
}
.treeView ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  border-left: 1px solid #ccc;
}
.treeView li {
  margin: 0;
  color: #999999;
  position: relative;
}
.treeView ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  /*border-top: 1px solid;*/
  border-top: 1px solid #ccc;
  margin-top: 3px;
  position:absolute;
  top: 1em;
  left: 30px;
}
.treeView ul li:last-child:before {
  background: #1c82a8;
  height: auto;
  top: 1em;
  bottom: -5px;
}
.treeView li a {
  padding-bottom: 0px !important;
}


.navbar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.topmenu-outer {
 /* background: #376984;*/
  height: 70px;
  background: white !important;
  /*box-shadow: none !important;*/
}

/* Search */
.search-input-group .input-group-addon {
  background: #E6E9ED !important;
  border: 1px solid #E6E9ED !important;
}
.search-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #E6E9ED;
  background-color: #E6E9ED;
}
.search-input-group button {
  border: 0;
  background: transparent;
}
input::-webkit-input-placeholder {
  color: #5f5f5f !important;
  font-style: italic;
}
input:-moz-placeholder {
  color: #5f5f5f !important;
  font-style: italic;
}

@media (min-width: 768px) {
  .margin_top_90 {
      margin-top: 90px;
  }
  .margin_top_110 {
      margin-top: 110px;
  }
  .margin_top_50 {
      margin-top: 50px;
  }
}

/* Layout */
.navbar {
  box-shadow: none !important;
  margin-left: 225px;
}

.small-sidebar .navbar {
  margin-left: 65px;
}

@media (max-width: 767px) {
  .navbar {
      margin-left: 0px !important;
      padding-left: 5px;
  }
}

.qv-global-search {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.filter-button .qv-collapsed-listbox {
  border: 3px solid #1c82a8;
}

.page-inner {
  background: white;
}

/*.topmenu-outer {

}*/

.topmenu-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  font-size: 15px;
}

.menu.accordion-menu ul li a {
  font-size: 14px;
}

.menu.accordion-menu ul li p {
  font-size: 13px;
}

.filter-button .qv-collapsed-listbox .title-wrapper .title {
  font-size: 13px;
}

.x_title h2 {
  font-size: 15px;
}

/* Top Menu */
.topmenu-container {
  height: 30px;
  /*margin-bottom: 30px;*/
  border-bottom: 1px solid #ccc;
  /*padding-bottom: 10px;*/
  -moz-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.topmenu-option {
  cursor: pointer;
  display: inline-flex;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: normal;
}

.topmenu-option:hover {
  color: #1c82a8;
}

.topmenu-option.active {
  cursor: auto;
  color: #1c82a8;
}

.topmenu-option.active p {
  font-weight: bold;
}

.topmenu-icon {
  font-size: 20px;
  padding-right: 10px;
  height: 20px;
}

.topmenu-text {
  font-size: 16px;
  height: 20px;
  margin: 0;
}

.back.x_panel.tile {
  visibility: hidden;
}

.filter-button article.qvt-visualization {
  background-color: #1c82a8;
}

.filter-button .qv-collapsed-listbox:hover {
  border: 3px solid #1c82a8;
}

/* .qv-collapsed-listbox.interactive:hover {
  border: 3px solid #1c82a8;
} */

.datepicker {
  left: -203px !important;
  top: 50px !important;
  width: 209px;
  padding: 5px;
}

/* Sub MENU */
.classic-menu-dropdown > a:focus, .classic-menu-dropdown > a:hover {
  color: initial;
  text-decoration: underline;
}

.nav > li.classic-menu-dropdown > a {
  color: inherit;
  padding: 0;
}

li.classic-menu-dropdown > a:hover {
  color: #1c82a8;
}

.nav > li.classic-menu-dropdown > a:focus, .nav > li.classic-menu-dropdown > a:hover {
  text-decoration: initial;
  background: none;
}

li.classic-menu-dropdown:not(:last-child) {
  padding-right: 25px;
  border-right: 1px solid #ccc;
}

li.classic-menu-dropdown {
  cursor: pointer;
  display: inline-flex;
  padding-right: 25px;
  padding-left: 25px;
}

li.classic-menu-dropdown:hover {
  color: #1c82a8;
}

li.classic-menu-dropdown.active {
  cursor: auto;
  color: #1c82a8;
  font-weight: bold;
}
li.classic-menu-dropdown.multiple-options {
  cursor: pointer;
}

li.classic-menu-dropdown > .dropdown-menu {
  margin-top: 9px !important;
  left: 18px;
  min-width: 125px;
}

li.classic-menu-dropdown > .dropdown-menu > li > a{
  font-size: 14px;
}

li.classic-menu-dropdown > .dropdown-menu > li > a:focus,
li.classic-menu-dropdown > .dropdown-menu > li > a:hover,
li.classic-menu-dropdown > .dropdown-menu > li > a.active {
  color: #1c82a8;
  background: none;
}

li.classic-menu-dropdown > .dropdown-menu > li > a.active {
  font-weight: bold;
}

.x_invisible > .x_title {
  padding-top: 2px;
}

/* Breadcumbs */
.page-bar {
  /*width: 100%;*/
  /*height: 30px;*/
  margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 1px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 3 !important;

}

.page-bar .page-breadcrumb {
  /*display: inline-block;*/
  /*float: left;*/
  /*list-style: none;*/
  /*padding-left: 30px;*/
}

.page-bar .page-breadcrumb > li {
  display: inline-block;
}

.breadcrum-separator {
  color: #aaa;
  text-shadow: none;
  font-size: 5px;
  margin: 0 5px;
  position: relative;
  top: -3px;
  opacity: .4;
  filter: alpha(opacity=40);
}

.breadcrum-parent {
  color: #5379A8;
  /*text-transform: capitalize;*/
}

.breadcrum-tab {
  color: #aaa;
  /*text-transform: capitalize;*/
}

/* Sheets Style */
#sheets-container > .dropdown-menu {
  margin-top: -10px !important;
  min-width: 150px;
  width: 150px;
}

#sheets-container > .dropdown-menu > li > a {
  font-size: 14px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#sheets-container > .dropdown-menu > li > a:focus,
#sheets-container > .dropdown-menu > li > a:hover {
  color: #1c82a8;
  background: none;
  text-decoration: none;
}

#sheets-container > .dropdown-menu > li {
  width: 100%;
  display: inline-flex;
}

#sheets-container > .dropdown-menu > li:nth-last-child(2) {
  border-bottom: 1px solid #E2E2E2;
}

/* QlikSense v3.2 */
/* Filters popup */
.qv-listbox-popover.lui-popover {
  border: none;
  background-color: transparent;
  box-shadow: none;

  margin-left: -101px;
  margin-top: 45px;
}

.lui-nopad.lui-popover__body {
  width: 260px;
  background: white;
  /* border-top: 10px solid #404040;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 10px solid #404040;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  display: block;
  /* box-sizing: border-box;
  border-left: none;
  border-right: none; */
  /* box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15)!important; */
  /* border-color: rgba(0, 0, 0, 0); */
  position: relative;
  /* right: 60px; */


  padding-top: 10px;
border-radius: 5px;
right: 45px;
box-shadow: 1px 1px 4px 2px grey;

  border: none;
  padding-top: 10px;
  border-radius: 5px;
}

.lui-popover .lui-popover__arrow--bottom {
  width: 19px;
  height: 10px;
  position: absolute;
  margin-left: -10px;
  left: 100px !important;
  right: auto;
  top: -10px;
  bottom: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  background: none;
  pointer-events: none;
}

.lui-popover .lui-popover__arrow--bottom:before,
.lui-popover .lui-popover__arrow--bottom:after {
  border: none;
}

/* Menu Items Hover Effect REDO */
#datepicker-toggle:hover,
#datepicker-toggle:focus {
  color: #4477aa !important;
}

#filter-toggle:hover,
#filter-toggle:focus {
  color: #4477aa !important;
}

#clear-toggle:hover,
#clear-toggle:focus {
  color: #4477aa !important;
}

#sheets-toggle:hover,
#sheets-toggle:focus {
  color: #4477aa !important;
}

/* Bookmark */
#bookmark-content {
 /* width: 32px;
  float: right;*/
}
#bookmark-toggle {
  /*width: 20px;
  height: 20px;
  padding-top: 4px;
  color: #808080;*/
  /*display: inline-block;
  cursor: pointer;
  line-height: 70px;
  font-size: 16.5px;
  text-align: center;*/
}
#bookmark-toggle:hover,
#bookmark-toggle:focus {
  color: #4477aa;
}

#bookmark-container {
  width: 250px;
  margin-top: -10px;
  margin-right: 25px;
  padding: 5px 0;
  position: absolute;
  float: left;
  right: -17px;
  z-index: 1000;
  text-align: left;
  font-size: 14px;
  background-color: white;
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;

  transition-delay: 1s;
}
#bookmark-container:before {
  top: -8px;
  right: 13px;
  left: auto;
  display: inline-block;
  position: absolute;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #D9D9D9;
  border-left: 8px solid transparent;
  content: '';
}
#bookmark-container:after {
  top: -7px;
  right: 14px;
  left: auto;
  display: inline-block;
  position: absolute;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}

.bookmark-list-header {
  margin-bottom: 3px;
  padding: 0 15px 5px 15px;
  border-bottom: 1px solid #D9D9D9;
}
.bookmark-title-label {
  color: #808080;
  font-family: 'QlikView Sans', sans-serif;
  font-weight: bold;
}

#bookmark-open-btn {
  margin: 3px 1px 0 0;
  float: right;
  cursor: pointer;
  color: #808080;
}
#bookmark-open-btn:hover,
#bookmark-open-btn:focus {
  color: #4477aa !important;
}

#bookmark-close-btn {
  display: none;
  margin: 3px 1px 0 0;
  float: right;
  cursor: pointer;
  color: #808080;
}
#bookmark-close-btn:hover,
#bookmark-close-btn:focus {
  color: #4477aa !important;
}

#bookmark-add-container {
  display: none;
  margin-bottom: 7px;
  padding: 0 15px 5px 15px;
  border-bottom: 1px solid #D9D9D9;
}

input#bookmark-add-input {
  width: calc(100% - 38px);
  height: 30px;
  display: inline;
  margin: 5px 0;
  padding: 0px 12px;
  color: #808080;
  font-family: 'QlikView Sans', sans-serif;
  font-size: 13px;
  font-style: italic;
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

input#bookmark-add-input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#bookmark-create-btn {
  width: 34px;
  height: 30px;
  margin-top: -3px;
  padding: 4px;
}

#bookmark-list {
  padding: 0 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

#bookmark-list hr {
  margin: 3px 0;
}

.bookmark-item-container {
  display: block;
  padding-top: 6px;
  color: #808080;
}

.bookmark-label {
  width: calc(100% - 20px);
  display: inline-block;
  margin: 0;
  cursor: pointer;
  color: #808080;
  font-size: 13px;
  font-family: 'QlikView Sans', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.bookmark-label:hover,
.bookmark-label:focus {
  color: #4477aa;
}

.remove-bookmark {
  top: 1px;
  float: right;
  display: none !important;
  cursor: pointer;
  font-size: 17px;
}
.remove-bookmark:hover,
.remove-bookmark:focus {
  color: #4477aa;
}
.bookmark-item-container:hover .remove-bookmark {
  display: block !important;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.no-transition-delay {
  transition-delay: 0s !important;
}



/*SELECT ALL*/
/*SELECT EXCLUDED*/
.clear-selection-container {
  display: none;
}

.clear-selection-container:hover {
  display: inline-block;
}


/*MASHUP_1*/
/*QLIK SEARCH BAR*/
.qv-global-search .qv-global-search-line {
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  margin-top: 5px;
  z-index: 9999;
}
/*END QLIK SEARCH BAR*/

/*.tp-menu {
  height: 26px;
}*/

/*FILTER*/
.filter-button {
  width: 200px;
  margin-left: 13px;
  padding: 9px 19px 9px 19px;
  display: flex;
}

.filter-button div {
  height: 25px;
  width: 160px;
}

.filter-extra-button {
  cursor: pointer;
  width: 0px;
  /*float: right;*/
  font-size: 14px;
  font-family: 'FontAwesome';
  /*height: auto;*/
  /*font-weight: 300;*/
  display: none;
  margin-top: 3px;
  margin-left: 1px;
}

.clearSelection {
  cursor: pointer;
  width: 13px;
  float: right;
  font-size: 14px;
  font-family: 'FontAwesome';
  height: auto;
  font-weight: 300;
  display: none;
}

a:hover .clearSelection {
  display: block;
}

div.filter-button:hover .filter-extra-button {
  display: block;
}
/*Because hover in filter-button not work fine without this rule*/
.qv-object-nav.inline {
  display: none;
}
/*END FILTER*/

/*MENU*/
.navbar-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
/*COLLAPSED MENU*/
@media (min-width: 768px) {
  .collapsed-top-menu {
      display: none;
  }
}
.collapsed-top-menu ul {
  width: 100%;
  margin: 0;
  display: inline-flex;
}
li.collapsed-img-container {
  width: 90px;
}
li.collapsed-img-container a {
  cursor: pointer;
  text-decoration: none !important;
  background: transparent !important;
  padding: 0px 0px 0px 10px;
}
img.collapsed-img-logo {
  /*height: 55px;*/
  width: 55px;
  padding-bottom: 10px;
}
.collapsed-menu-title-container {
  width: calc(100% - 90px);
}
.collapsed-menu-title-container a {
  color: rgb(95, 95, 95);
  font-size: 28px;
  font-weight: 400;
  line-height: 70px;
  padding: 0;
  vertical-align: middle;
  display: flex;
  text-align: left;
  text-decoration: none !important;
  background: transparent !important;
}
.collapsed-menu-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*END COLLAPSED MENU*/

/*LEFT*/
i.collapsed-btn {
  cursor: pointer;
  color: #5f5f5f;
}

img.img-logo {
  height: 55px;
  padding-top: 10px;
  cursor: pointer;
}

li.menu-title-container {
  width: calc(100% - 150px);
}

li.menu-title-container a {
  color: rgb(95, 95, 95);
  font-size: 28px;
  font-weight: 400;
  line-height: 70px;
  padding: 0;
  vertical-align: middle;
  display: flex;
  text-align: left;
}

span.menu-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*END LEFT*/

/*RIGHT*/
.search-input-container {
  width: 45%;
}

.search-input-container div {
  margin-top: 18px;
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.update-date-container {
width: 190px; /*150px 26%*/
}

.reload-date-container {
width: 220px; /*150px 26%*/
}

.reload-date-container div,
.update-date-container div {
  text-align: center;
  border-right: 1px solid #ccc;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.update-date {
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
}

div.icon-container {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

div.icon {
  overflow: hidden;
  text-align: center;
  width: 37px;
}

div.icon a {
  color: rgb(95, 95, 95);
  border: none;
}

i.icon {
  cursor: pointer;
  font-size: 16.5px;
  line-height: 70px;
}
/*END RIGHT*/

/*END MENU*/

.last-content-row {
  margin-bottom: 45px;
}

/*END MASHUP_1*/

/*-----------------------------------------------------*/

/*----BUTTON-PRIMARY-CUSTOM----*/
.primary-button{
  background: #007EAE;
  border: 1px solid #007EAE;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
}

.primary-button:active{
  background: #06587C !important;
  border: 1px solid #06587C !important;
  box-sizing: border-box;
}

.primary-button:hover{
  background: #06587C;
  border: 1px solid #06587C;
}

.primary-button:disabled{
  background: #C8D2DD;
  border: 1px solid #C8D2DD;
}

.primary-button .icon{
  color: #FFFFFF
}

.primary-button:disabled .icon{
  color: #89949E
}

.primary-button .text{
  font-family: openSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF
}

.primary-button:disabled .text{
  color: #89949E
}


/*----BUTTON-SECONDARY-CUSTOM----*/
.secundary-button{
  background: #FFFFFF;
  border: 1px solid #C8D2DD;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
}

.secundary-button:active{
  background: #F6F6F6 !important;
  border: 1px solid #007EAE !important;
}

.secundary-button:hover{
  background: #F6F6F6;
  border: 1px solid #007EAE;
}

.secundary-button:disabled{
  background: #F6F6F6;
  border: 1px solid #C8D2DD;
}

.secundary-button .icon{
  color: #007EAE
}

.secundary-button:disabled .icon{
  color: #89949E
}

.secundary-button .text,
.secundary-button:focus{
  font-family: openSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #007EAE !important;
}

.secundary-button:disabled .text{
  color: #89949E
}


/*----CUSTOM-LINK-----*/

a.custom-link .icon{
  height: 16px;
  width: 16px;
  color: #007EAE !important;
}

a.custom-link .text{
  font-family: openSans;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #007EAE !important;
}

a.custom-link:active .icon{
  color: #06587C
}

a.custom-link:active .text{
  color: #06587C;
}

a.custom-link:hover .icon{
  color: #06587C
}

a.custom-link:hover .text{
  color: #007EAE;
}

a.custom-link:disabled .icon{
  color: #89949E
}

a.custom-link:disabled .text{
  color: #89949E;
}

/*---------SELECTOR-CUSTOM---------*/
.selector-custom{
  background: #FFFFFF;
  border: 1px solid #C8D2DD;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  bottom: 1px;
  height: 40px !important;
}

.selector-custom .text{
  font-family: openSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
}

.selector-custom .icon{
  color: #007EAE;
}

.selector-custom:active{
  background: #F6F6F6;
}

.selector-custom:hover{
  background: #F6F6F6;
  order: 1px solid #007EAE;
}

.selector-custom:disabled{
  background: #F6F6F6;
}

.selector-custom:disabled .text{
  color: #68777D;
}

.selector-custom:disabled .icon{
  color: #89949E;
}


/*-----------------------------------*/
.close-icon-filter{
  width: 20px;
  position: relative;
  top: 7px;
}

.touch-off .sel-toolbar-icon-toggle:hover:not(:active):not(:disabled){
  color: rgba(89,89,89,.6);
  background-color: #F6F6F6;
  /* border: none !important; */
  border: 1px solid #dce3ea;
  box-shadow: none ;
}

.touch-off .sel-toolbar-icon:hover:not(:active):not(:disabled){
  color: rgba(89,89,89,.6);
  background-color: #F6F6F6 !important;
  border: 1px solid #007EAE !important;
}

.sel-toolbar-menu-item{
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #C8D2DD;
  border-bottom: none !important;
}


.sel-toolbar-menu-item span{
  font-family: openSans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #333333
}

.sel-toolbar-menu-item:active:not(.disabled) {
  background: #E5F5FC !important;
}

.touch-off .sel-toolbar-menu-item:focus .sel-toolbar-menu-span-icon,
.touch-off .sel-toolbar-menu-item:hover:not(.disabled):not(:active) .sel-toolbar-menu-span-icon{
  color: #007EAE !important;
}

.touch-off .sel-toolbar-menu-item:hover:not(.disabled):not(:active) .sel-toolbar-menu-text,
.touch-off .sel-toolbar-menu-item:focus .sel-toolbar-menu-text{
  color: #333333 !important;
}

.touch-off .sel-toolbar-menu-item:focus,
.touch-off .sel-toolbar-menu-item:hover:not(.disabled):not(:active){
  background-color: #F6F6F6 !important;
  text-decoration: underline;
  cursor: pointer;
}

