/* Global View CSS */
.global-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 160px);
  gap: 16px;
}

.global-view__item1 {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
}

.global-view__item2 {
  grid-column: 1;
  grid-row: 3;
}

.global-view__item3 {
  grid-column: 2;
  grid-row: 3;
}

.global-view__item4 {
  grid-column: 3;
  grid-row: 3;
}

.global-view__item5 {
  grid-column: 4;
  grid-row: 3;
}

.global-view__item6 {
  grid-column: 5;
  grid-row: 3;
}

.global-view__item7 {
  grid-column: 6;
  grid-row: 1;
}

.global-view__item8 {
  grid-column: 6;
  grid-row: 2;
}

.global-view__item9 {
  grid-column: 6;
  grid-row: 3;
}
