/*APQRIC*/

/* KPIs parte superior*/

.color--grey {
  color:#ABABAB;
}

.kpis-row {
  position: sticky !important;
  top:35px !important;
  z-index: 3 !important;
  background-color: white !important;
  border-bottom: 1px solid #DDDDDD;
}

.kpis-row-doble {
    border-top: 1px solid #DDDDDD;
    padding-top: 3px;
}

.kpis-row div[class*="upper-kpi"][id*="qso_"] .kpi-value span {
   /*font-size: 45px !important;*/
   top: 0px !important;
   position: absolute !important;
   margin-top: 0px !important;
}

.kpis-row div[class*="lower-kpi"][id*="qso_"] .kpi-value span {
  /*font-size: 18px !important;*/
  top: 0px !important;
  position: absolute !important;
  margin-top: 0px !important;
}



p[class*="table-kpi"][id*="qso_"] .kpi-value span {
  font-size: 16px !important;
}

.kpis-row .col-md-1,
.kpis-row .col-md-2,
.kpis-row .col-md-3 {
  padding:0 !important;
}

@media (min-width: 992px)
{
  .kpis-row .col-md-2 {
    width: 15% !important;
  }

  .kpis-row .col-md-1 {
    width: 12% !important;
  }
}


.kpis-row div[id*="qso_"] .kpi-value span{
  font-size: 13px !important;
}

.kpis-row-24px div[id*="qso_"] .kpi-value span{
  font-size: 28px !important;
}

.kpis-row-16px div[id*="qso_"] .kpi-value span{
  font-size: 20px !important;
}

.kpi-17px {
  font-size: 17px
}

.variable-16px {
  font-size: 20px;
}

.kpis-row-doble div[id*="qso_"] .kpi-value span{
    font-size: 18px !important;
}

.kpi-big div[id*="qso_"] .kpi-value span{
    font-size: 30px !important;
}

.kpi-separator div[id*="qso_"] .kpi-data {
    border-right: 1px solid #DDDDDD !important;
}

.kpis-row div[id*="qso_"] .qv-object-qsstatistic div{
  font-size: 13px !important;
  padding: 0 !important;
}

#qso_wLEPzC .qv-object .qv-object-title .qv-object-title-text {
  font-size: 11px !important;
}

#qso_XnzpFF .qv-object-qsstatistic div{
  font-size: 14px !important;
}

#qso_XnzpFF .kpi-value span{
  font-size: 18px !important;
}

#qso_wLEPzC .qv-media-tool-html {
    font-size: 12px;
  }

.kpis-row .kpi div[id*="qso_"] div font {
    font-size: 0.9vw !important;
}

.kpis-row .kpi div[id*="qso_"] div b {
    font-size: 1vw !important;
}

#qso_gMgMY .lui-button
{
  padding: 0;
  font-size: 10px;
}

.kpi-table {
    height: 24px;
    font-size: 15px;
    margin-top: 5px;
}

.kpi-responsive span{
    font-size: 16px;       
}

.kpi-30px-gray {
  text-align:center; 
  color:#808080; 
  height: 30px;
  padding-top:10px;
  line-height: 12px;
}



.col-20-percent {
  width:20%; float:left
}
.col-80-percent {
  width:80%; float:left
}
.col-60-percent {
  width:60%; float:left
}

.toggle-responsive {
    margin-top: 15px;
    padding-left:120px;
}
@media (max-width: 1280px) {
    .kpi-responsive span{
        font-size: 15px;
    }

    .toggle-responsive {
        margin-top: 15px;
        padding-left:80px;
    }
}

/* ****************** */

/* Zona Variable inferior */
.zona-variable
{
  min-height: 550px;
  overflow-x: hidden;
  padding-top: 45px;
  padding-right: 15px;
}

/* filtrado en objetos maximizados */
.x_panel_maximize {
  margin-top: 0px !important;
}

.hidden-element {
  display: none !important;
}

/*TOOGLE*/
input#toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}

input#toggle + label {
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    height: 20px;
    width: 50px;
    border-radius: 15px;
}

input#toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(28,130,168,0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input#toggle:checked + label:before {
    width: 50px;
    background: rgba(28,130,168,1);
}

input#toggle:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(28,130,168,1), 0 2px 4px rgba(0,0,0,.2);
}

div#toggle-container {
    padding: 1px 5px 6px;
    float: left;
}

div#toggle-container ul {
    margin-right: 10px;
    margin-bottom: 5px;
    height: 33px;
    float: right;
    display: flex;
}

div#toggle-container ul li {
    float: left;
    cursor: pointer;
    display: block;
}

div#toggle-container ul li label {
    display: inline-block;
    z-index: 2;
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

div#toggle-container ul li div {
    margin-top: 5px;
    margin-left: -5px;
    display: inline-block;
}

label.label1{
  float: left;
  margin-top: 7px;
}

label.label2 {
  float: left;
  margin-top: 7px;
}

.toggle-label-active {
    color: rgba(28, 130, 168, 1) !important;
    font-weight: bold;
}
/*END OF TOOGLE*/
.suggest-popup {
    display: none !important;
}


/* ALERTAS*/
.row-of-five {
  display: flex;
  justify-content: space-between;
}

.arrow-kpi {
  height: 120px;
  width: 19%;
}

.filter-in-row {
  height: 40px;
  width: 19%;
}

/* OnDemand MODAL */
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 5px;
}

.modal-header {
    height: 45px;
}

.modal-body {
    height: calc(100% - 45px);
}

.modal-header .open-app {
  position: absolute;
  right: 4rem;
  border: none;
  background: none;
  margin-top: -2px;
  color: #cbcbcb;
}
/* END OnDemand MODAL */

/* OnDemand menu*/
.span-ondemand {
  border-top: 1px solid white;
  width: 80% !important;
  display: block;
  margin: 0 auto;
      margin-top: 0px;
  margin-top: 20px;
}
.no-app-navigation-bar {
  color: white;
}
/* END OnDemand menu*/

/* overwrite OnDemand Qlik Styles */
.qv-odag-bar.standAlone {
    border: none !important;
}

.qv-odag-bar {
    background: transparent;
}

.qv-odag-bar .leftOdag {
  min-height: 220px;
}

.qv-odag-bar .leftOdag .list {
    overflow: auto !important;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.qv-odag-bar .leftOdag .list .odag-nav-point {
    background-color: #fff;
    margin-bottom: 10px;
}

a.qv-pager-nav.qv-pager-next,
a.qv-pager-nav.qv-pager-previous {
    display: none !important;
}

#odag-toolbar-navpoint-popover .lui-popover__arrow.ng-scope.lui-popover__arrow--bottom {
    display: none;
}

.qv-odag-bar .leftOdag .list::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

.qv-odag-bar .leftOdag .list::-webkit-scrollbar-thumb
{
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #ffffff70;
}

.qv-odag-bar .leftOdag .drag-help {
  display: none;
}
/* END overwrite OnDemand Qlik Styles */

/*--------------------*/

.nopadding{
  padding: 0 !important;
}

.kpi3.sn-kpi,.kpi3 .sn-kpi-value{
  font-size:25px !important;
  width:100%;
  
}

.kpititle{
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  width:100%;
  display:inline-block;
  white-space: nowrap;
}