<header class="header">
  <div class="header__top-row">
  <script>
	  var isPresupuestoPaths = new Set([
	  	'global-view',
	  	'deferred-analysis',
	  	'budget-analysis',
	  	'budget-table'
	  ]);
    
	  var currentPath = window.location.href.split('/').pop();
	  var isPresupuesto = isPresupuestoPaths.has(currentPath);
	  var filtersDropdown = document.querySelector(".filters__dropdown");
    
	  if (isPresupuesto) {
	  	filtersDropdown.style.gridTemplateRows = "repeat(7, 40px)";
	  	filtersDropdown.innerHTML = '<div class="filters__dropdown__filters" id="qso_xmCpNy"></div> <div class="filters__dropdown__filters" id="qso_hfspP"></div> <div class="filters__dropdown__filters" id="qso_CvCPsg"></div> <div class="filters__dropdown__filters" id="qso_kLRLMrE"></div> <div class="filters__dropdown__filters" id="qso_JUvWvm"></div> <div class="filters__dropdown__filters" id="qso_fNQQq"></div> <div class="filters__dropdown__filters" id="qso_yqWzd"></div>';
	  } else {
	  	filtersDropdown.style.gridTemplateRows = "repeat(12, 40px)";
	  	filtersDropdown.innerHTML = '<div class="filters__dropdown__filters" id="qso_6c8a7463-beaa-467a-8584-57ca05f629c2"></div> <div class="filters__dropdown__filters" id="qso_uYpcz"></div> <div class="filters__dropdown__filters" id="qso_3b564a4e-7a55-4694-a6bb-5ef6da3acc1e"></div> <div class="filters__dropdown__filters" id="qso_8e86873b-c464-4b86-95bb-046e3f3cc8df"></div> <div class="filters__dropdown__filters" id="qso_7e138633-ef63-4b63-a413-d1942c8e6e84"></div> <div class="filters__dropdown__filters" id="qso_f8611af9-1aa0-4bef-8300-4111c1b75f3a"></div> <div class="filters__dropdown__filters" id="qso_3ad5cbb8-22fd-4aee-960d-0ca208ef9648"></div> <div class="filters__dropdown__filters" id="qso_mDpVJvN"></div> <div class="filters__dropdown__filters" id="qso_pdPvHfJ"></div> <div class="filters__dropdown__filters" id="qso_a470bd2f-cbbe-4f30-8d58-79874ce886ae"></div> <div class="filters__dropdown__filters" id="qso_mKSYJp"></div> <div class="filters__dropdown__filters" id="qso_vqFxQ"></div>';
	  }
  </script>
    <div class="header__top-row__left-col">
      <div class="logo">
        <a href="./index.html#/global-view" class="logo__link">
          <img class="logo__link__icon" src="./img/logo.svg" />
        </a>
        <h1 class="logo__text">Gestion Presupuestaria</h1>
      </div>

      <nav class="nav-menu">
        <ul class="nav-menu__list">
          <li class="nav-menu__list__item">
            <a class="nav-menu__list__item__link" href="./index.html#/global-view">Vista Global</a>
          </li>

          <li class="nav-menu__list__item-dropdown">
            <button class="nav-menu__list__item-dropdown__btn">
              <span class="nav-menu__list__item-dropdown__btn__text">Presupuesto</span>
              <img
                class="nav-menu__list__item-dropdown__btn__icon"
                src="./img/icons/arrow-combo.svg"
              />
            </button>

            <ul class="nav-menu__list__item-dropdown__content">
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/budget-analysis"
                  >Análisis Presupuesto</a
                >
              </li>
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/deferred-analysis"
                  >Análisis diferido</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-menu__list__item-dropdown">
            <button class="nav-menu__list__item-dropdown__btn" href="./index.html#/global">
              <span class="nav-menu__list__item-dropdown__btn__text">Facturas</span>
              <img
                class="nav-menu__list__item-dropdown__btn__icon"
                src="./img/icons/arrow-combo.svg"
              />
            </button>

            <ul class="nav-menu__list__item-dropdown__content">
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/total-invoices"
                  >Total Facturas</a
                >
              </li>
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/paid-invoices"
                  >Facturas pagadas</a
                >
              </li>
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/pending-invoices"
                  >Facturas ptes</a
                >
              </li>
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/management-kpis"
                  >KPIs Gestión</a
                >
              </li>
            </ul>
          </li>

          <li class="nav-menu__list__item-dropdown">
            <button
              class="nav-menu__list__item-dropdown__btn"
              href="./index.html#/invoice/analysis"
            >
              <span class="nav-menu__list__item-dropdown__btn__text">Tablas Detalle</span>
              <img
                class="nav-menu__list__item-dropdown__btn__icon"
                src="./img/icons/arrow-combo.svg"
              />
            </button>
            <ul class="nav-menu__list__item-dropdown__content">
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/budget-table"
                  >Presupuesto</a
                >
              </li>
              <li class="nav-menu__list__item-dropdown__content__item">
                <a
                  class="nav-menu__list__item-dropdown__content__item__link"
                  href="./index.html#/invoicing-table"
                  >Facturacion</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__top-row__right-col">
      <div class="filters">
        <button class="filters__btn">
          <img class="filters__btn__icon" src="./img/icons/filter.svg" />
          <span class="filters__btn__text">Filtros</span>
          <img class="filters__btn__icon" src="./img/icons/arrow.svg" />
        </button>
        <div class="filters__dropdown filters__dropdown--hidden">
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom-row">
    <div class="header__bottom-row__current-selections" id="qso_CurrentSelections"></div>
  </div>
</header>
