<link rel="stylesheet" href="../../css/navigation.css">
<header class="out-header header">
  <!-- top header -->
  <div class="capsule header-nav-options" style="position: relative;">
      <div class="left-content content logo">
          <a href="" ng-click="openHome()">
          <img src="../../img/logo.svg" alt="">
          </a>
          <h1>Gestión Presupuestaria</h1>
      </div>
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a href="../../index.html#/HOJA">Vista Global</a></li>
      <li class="dropdown">
        <a href="../../index.html#/HOJA" id="presupuesto">Presupuesto<img src="../../img/arrow_dropdown.png"></a>
        <nav class="dropdown-content dropdown-presupuesto">
            <li><a href="../../index.html#/HOJA1">Análisis Presupuesto</a></li>
            <li><a href="../../index.html#/HOJA">Análisis diferido</a></li>
        </nav>
      </li>
      <li class="dropdown">
        <a href="../../index.html#/global" id="facturas">Facturas<img src="../../img/arrow_dropdown.png"></a>
        <nav class="dropdown-content dropdown-facturas">
            <li><a href="../../index.html#/budget">Total Facturas</a></li>
            <li><a href="../../index.html#/budgetdiff">Facturas pagadas</a></li>
            <li><a href="../../index.html#/invoice/volume">Facturas ptes</a></li>
            <li><a href="../../index.html#/invoice/tipification">KPIs Gestión</a></li>
        </nav>
      </li>
      <li class="dropdown">
        <a href="../../index.html#/invoice/analysis" id="tablas-detalle">Tablas Detalle<img src="../../img/arrow_dropdown.png"></a>
        <nav class="dropdown-content dropdown-tablas-detalle">
            <li><a href="../../index.html#/financing">Presupuesto</a></li>
            <li><a href="../../index.html#/budget/table">Facturacion</a></li>
        </nav>
      </li>
    </ul>
  </nav>
  <div class="right-content content" style="margin-right: 33px;">
    <a  ng-click="changeFilter()" style="cursor: pointer;text-decoration: none;">
      <img style="width: 20px;height: 20px;" src="./img/icons/filter.svg">
      <span style="color: white;font-size: 14px;margin-right: 10px;">Filtros</span>
      <img style="width: 16px;height: 16px;margin-right: 3px;" src="./img/icons/arrow.svg">
    </a>
  </div>
</header>
