<div class="header">
    <div class="right-content options-right-content">
        <a href="../" class="back custom-link">
            <img class="icon" src="./img/icons/arrow-back.svg">
            <span class="text">Volver</span>
        </a>
        <h1 get-title="vl_title1">{{pageTitle}}</h1>
        <span>
        <b>Fecha de carga </b>
            [<span get-title="reloadTime"></span>]
        <b style="margin-left: 10px;">Fecha datos</b>
            [<span get-title="reloadTime"></span>]
        <a href="../" class="back custom-link">
            <span class="text">Ver estados de carga</span>
        </a>
      </span>
    </div>

    <div class="left-content">
        
        <button class="primary-button" ng-click="functionExample()">
            <span class="text">Button 1</span>
        </button>

        <span class="vertical-line"></span>

        <button class="secundary-button" ng-click="functionExample()">
            <span class="text">Button 2</span>
        </button>
        
        <span class="vertical-line"></span>
        
        <div class="btn content-select dropdown selector-custom">
            <button class="dropdown-toggle" type="button" id="selector-dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="getPositionDropdown('selector-dropdown1')">
                <span class="text">Selector</span>
                <i></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="selector-dropdown1">
                <li ng-click="getOptionSelector($event, 'selector-dropdown1')">Option 1</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown1')">Option 2</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown1')">Option 3</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown1')">Option 4</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown1')">Option 5</li>
            </ul>   
        </div>
  
        
        <span class="vertical-line"></span>
        
        <div class="btn content-select dropdown selector-custom">   
            <button class="dropdown-toggle" type="button" id="selector-dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="getPositionDropdown('selector-dropdown2')">
                <img class="icon" src="./img/icons/icon_vista-cards.svg">
                <span class="text">Vista cards</span>
                <i></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="selector-dropdown2">
                <li ng-click="getOptionSelector($event, 'selector-dropdown2', './img/icons/icon_vista-cards.svg')">Vista gráficos</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown2', './img/icons/icon_vista-tabla.svg')">Vista tablas</li>
                <li ng-click="getOptionSelector($event, 'selector-dropdown2', './img/icons/icon_vista-detalle.svg')">Otros tipos de vista</li>
            </ul>   
        </div>

    </div>
</div>
