<div navigation="navigation"></div>
<main class="main">
  <div class="main__row">
    <h1 class="main__title">Detalle presupuesto</h1>
    <div class="main__date" id="qso_fSdpA"></div>
  </div>

  <div class="main__row">
    <div class="main__access-level" id="qso_gdxJVV"></div>
    <div class="main__expense-type" id="qso_wnHqC"></div>
  </div>

  <div class="budget-table">
    <div class="budget-table__item1" id="qso_pppgjUp"></div>
  </div>
  <div class="main__row">
	  <div class="main__log" id="qso_RGTNY"></div>
  </div>
</main>
