
<div class="page-inner" >
    <div id="main-wrapper">
        <div navigation="miArray"></div>
        <div sectiontitle button=""></div>
        <!-- <div style="display: flex;" class="ventas-costes">
          <div id="qso_Dsjtp" style="height: 50px;width:50%;" class="my-border card"></div>
          <div id="qso_cpwBYF" style="height: 50px;width:50%;" class="my-border card"></div>
        </div> -->

        <div class="ventas-costes">
          <div class="col-md-6 ">
            <div id="qso_QUNq" style="height: 150px;width:100%;" class="card"></div>
          </div>
          <div class="col-md-6">
            <div id="qso_cpwBYF" style="height: 150px;width:100%;" class="card"></div>
          </div>
        </div>

        <div>
          <div class="col-md-12 raw-qlik-object">
            <div class="two-selectors-card" card="4" idobject="pQEBTJb" data-ng-init="modifyCard()"></div>
          </div>
          <div class="col-12 col-md-6 raw-qlik-object">
            <div class="card" style="height: 500px;width:100%;" id="qso_RwejC"></div>
          </div>
          <div class="col-md-6 raw-qlik-object">
            <div class="card" style="height: 500px;width:100%;" id="qso_JWCMt"></div>
          </div>
          <div class="col-md-12 raw-qlik-object" style="margin-bottom: 20px;">
            <div class="card" style="height: 500px;width:100%;" id="qso_spbjQ"></div>
          </div>
        </div>
    </div>
</div>
