<div class="page-inner" >
  <div id="main-wrapper">
      <div navigation="miArray"  titulo="titulo" tit2="updateDate" data="dataDate" icono="initialIcon" rol="rolNavigation" rolsscc="isSSCC" fichofi="fichOfi"></div>
      <!--<div sectiontitle button=""></div>-->
      <!-- <div style="display: flex;" class="ventas-costes">
        <div id="qso_Dsjtp" style="height: 50px;width:50%;" class="my-border card"></div>
        <div id="qso_cpwBYF" style="height: 50px;width:50%;" class="my-border card"></div>
      </div> -->
      <div class="row" style="margin-top:35px; padding-left: 20px;" ng-show="initialShow">
        <div class="col-md-2">
        <div class="col-md-12">
        <div id="qso_QDBdHt" style="height: 40px;width:100%;margin-top: 35px;"></div>
      </div>
      <div class="col-md-12">
        <div id="qso_XrFkjVj" style="height: 40px;width:100%;margin-top: 15px;"></div>
      </div>
      </div>
   <div class="col-md-2">
        <div class="col-md-12">
        <div id="qso_eCYsN" style="height: 40px;width:100%;margin-top: 35px;"></div>
      </div>
      <div class="col-md-12">
        <div id="qso_dZAj" style="height: 40px;width:100%;margin-top: 15px;"></div>
      </div>
      </div>
   <div class="col-md-2">
        <div class="col-md-12">
        <div id="qso_GgqAKzj" style="height: 40px;width:100%;margin-top: 35px;"></div>
      </div>
      <div class="col-md-12">
        <div id="qso_kKgt" style="height: 40px;width:100%;margin-top: 15px;"></div>
      </div>
      </div>
 <div class="col-md-2">
        <div class="col-md-12">
        <div id="qso_SWmm" style="height: 40px;width:100%;margin-top: 35px;"></div>
      </div>
      <div class="col-md-12">
        <div id="blank" style="height: 40px;width:100%;margin-top: 15px;"></div>
      </div>
      </div>
     <div class="col-md-2">
        <div class="col-md-12">
        <div id="qso_SNgSCQ" style="height: 40px;width:100%;margin-top: 35px;"></div>
      </div>
      <div class="col-md-12">
        <div id="qso_blank" style="height: 40px;width:100%;margin-top: 15px;"></div>
      </div>
      </div>
      <div class="col-md-2">
        <div id="blank" style="height: 50px;width:100%;margin-top: 35px;"></div>  
      </div>
      </div>
      <!--
      <div class="row" style="margin-top:35px; padding-left: 20px;" ng-show="initialShow">
        <div class="container-filter">
          <div id="qso_QDBdHt" style="height: 40px;width:100%;"></div>
          <div id="qso_eCYsN" style="height: 40px;width:100%;"></div>
          <div id="qso_GgqAKzj" style="height: 40px;width:100%;"></div>
          <div id="qso_SWmm" style="height: 40px;width:100%;"></div>
          <div id="qso_XrFkjVj" style="height: 40px;width:100%;"></div>
          <div id="qso_dZAj" style="height: 40px;width:100%;"></div>
          <div id="qso_kKgt" style="height: 40px;width:100%;"></div>
          <div id="qso_SNgSCQ" style="height: 40px;width:100%; margin-right:0"></div>
         </div>
      </div>
      -->
      <div class="row last-content-row" style="padding-left: 20px; margin-top: 10px;margin-bottom: 5px;">
        <div class="col-md-12" style="margin-top: 40px;" >
          <div class="col-md-12" style="display: flex;justify-content: flex-end;">
            <a export-excel qlikid="RDJzsL">
              <img class="icon" src="./img/icons/download.svg" style="cursor: pointer; font-weight: bold;margin-right: -5px;">
              <i style="color: black;font-style: normal;cursor:pointer;font-size: 14px;">
                Descargar Fichero Plantilla (Ampliado)
              </i>
          </a>
          <a style="color: black;font-style: normal;cursor:none;font-size: 14px;margin-left: 5px;margin-right: 5px;">  /  </a>
            <a export-excel qlikid="EEVqf">
              <img class="icon" src="./img/icons/download.svg" style="cursor: pointer; font-weight: bold;margin-right: -5px;">
              <i style="color: black;font-style: normal;cursor:pointer;font-size: 14px;">
               Descargar Fichero Plantilla
              </i>
          </a> </div>
        </div>
        <div class="col-md-12">
          <div id="qso_msvsj" ng-style="initialHeight"></div>
        </div>
      </div>
      </div>
      <!--
      <div>
        <div class="col-md-12 raw-qlik-object">
          <div class="two-selectors-card" card="4" idobject="pQEBTJb" data-ng-init="modifyCard()"></div>
        </div>
        <div class="col-12 col-md-6 raw-qlik-object">
          <div class="card" style="height: 500px;width:100%;" id="qso_RwejC"></div>
        </div>
        <div class="col-md-6 raw-qlik-object">
          <div class="card" style="height: 500px;width:100%;" id="qso_JWCMt"></div>
        </div>
        <div class="col-md-12 raw-qlik-object" style="margin-bottom: 20px;">
          <div class="card" style="height: 500px;width:100%;" id="qso_spbjQ"></div>
        </div>
      </div>
    -->
  </div>
