<div class="page-inner" >
    <div id="main-wrapper">
        <div navigation="miArray" titulo="titulo" tit2="updateDate" data="dataDate" icono="initialIcon" rol="rolNavigation" rolsscc="isSSCC" fichofi="fichOfi"></div>
        <!--<div sectiontitle button=""></div>-->
        <!-- <div style="display: flex;" class="ventas-costes">
          <div id="qso_Dsjtp" style="height: 50px;width:50%;" class="my-border card"></div>
          <div id="qso_cpwBYF" style="height: 50px;width:50%;" class="my-border card"></div>
        </div> -->
        <div class="row" style="margin-top:35px; padding-left: 20px;" ng-show="initialShow">
          <div class="col-md-2">
          <div class="col-md-12">
          <div id="qso_CyaZjs" style="height: 40px;width:100%;margin-top: 35px;"></div>
        </div>
        <div class="col-md-12">
          <div id="qso_zZWmZ" style="height: 40px;width:100%;margin-top: 15px;"></div>
        </div>
        </div>
     <div class="col-md-2">
          <div class="col-md-12">
          <div id="qso_ZKSWP" style="height: 40px;width:100%;margin-top: 35px;"></div>
        </div>
        <div class="col-md-12">
          <div id="qso_KxYagC" style="height: 40px;width:100%;margin-top: 15px;"></div>
        </div>
        </div>
   <div class="col-md-2">
          <div class="col-md-12">
          <div id="qso_qjEhgWK" style="height: 40px;width:100%;margin-top: 35px;"></div>
        </div>
        <div class="col-md-12">
          <div id="qso_brJJg" style="height: 40px;width:100%;margin-top: 15px;"></div>
        </div>
        </div>
        <div class="col-md-2">
          <div class="col-md-12">
          <div id="qso_PJsHsT" style="height: 40px;width:100%;margin-top: 35px;"></div>
        </div>
        <div class="col-md-12">
          <div id="qso_emwaJp" style="height: 40px;width:100%;margin-top: 15px;"></div>
        </div>
        </div>
       <div class="col-md-2">
          <div class="col-md-12">
          <div id="qso_VxTJmm" style="height: 40px;width:100%;margin-top: 35px;"></div>
        </div>
        <div class="col-md-12">
          <div id="blank" style="height: 40px;width:100%;margin-top: 15px;"></div>
        </div>
        </div>
        <div class="col-md-2">
          <div id="blank" style="height: 50px;width:100%;margin-top: 35px;"></div>  
        </div>
        </div>
        <!--
        <div class="row" style="margin-top:35px; padding-left: 20px;" ng-show="initialShow">
          <div class="container-filter">
            <div id="qso_CyaZjs" style="height: 40px;width:100%;"></div>
            <div id="qso_ZKSWP" style="height: 40px;width:100%;"></div>
            <div id="qso_qjEhgWK" style="height: 40px;width:100%;"></div>
            <div id="qso_PJsHsT" style="height: 40px;width:100%;"></div>
            <div id="qso_VxTJmm" style="height: 40px;width:100%;"></div>
            <div id="qso_zZWmZ" style="height: 40px;width:100%;"></div>
            <div id="qso_KxYagC" style="height: 40px;width:100%;"></div>
            <div id="qso_brJJg" style="height: 40px;width:100%;"></div>
            <div id="qso_emwaJp" style="height: 40px;width:100%; margin-right:0"></div>
           </div>
        </div>
        -->
        <div class="row last-content-row" ng-style="initialMargin">
          <div class="col-md-12">
         
            <div class="col-md-12" style="display: flex;justify-content: flex-end;padding-right:30px;margin-top:20px;">
              <a export-excel qlikid="jWgxmh">
                <img class="icon" src="./img/icons/download.svg" style="cursor: pointer; font-weight: bold;margin-right: -5px;">
                <i style="color: black;font-style: normal;cursor:pointer;font-size: 14px;">
                  TITULO 1
                </i>
                </a>
                </div>

          <div class="col-md-12" style="padding: 0 0 0 0; margin-bottom: 1px;">
            <div id="qso_bAqcyxS" style="height: 100px;width:100%;"></div>
            <div id="qso_jWgxmh" style="height: 520px;width:100%;"></div>
          </div>
        </div>
        </div>
    </div>
  </div>